.form-control.answerText {
    background-color: #0d2c3d;
    border: none;
    word-wrap: break-word;
    height: auto;
    padding: 0;
}
.form-control.answerTextUnmarked {
    color: rgba(255, 255, 255, 0.85);
}
.form-control.answerTextMarked {
    color: #00bdff;
}
.form-control.answerRadioButton {
    height: auto;
    width: auto;
}
.buttonAndAnswer {
    margin-bottom: 15px;
}