.navbarNumber.navbarCurrentQuestion {
   color: white;
}


.navbarRow {
    position: relative;
    margin-bottom: 30px;
}
.navbarNumber {
    position: absolute;
    color: #1cc2f3;
}
#number1 {
    left: 0;
}
#number2 {
    left: 25%;
}
#number3 {
    left: 50%;
}
#number4 {
    left: 75%;
}
#number5 {
    right: 0;
}